In [6]:
string1 = 'Sachin"s'

In [2]:
type(string1)

str

In [ ]:
def get_data_from_database(user, pwd):
    """
    user:str - username used for database 
    pwd:str - 
    Gets data from the postgres database
    """

In [8]:
print("something with 'single qutoe'")

something with 'single qutoe'

In [ ]:
#Escapse Character
# \t - Horizontal Tab
# \n - newline
# \r - carraige return
# \f - feed 
# \v - vertical tab

In [10]:
print("I need this in\tsecond line")

I need this in	second line

#F-String

person = "alex"
message = f "{person} Hello"

In [13]:
person = "tim"
message = f"Hello {person}"
print(message)

Hello tim

In [14]:
list_person = ['alex', 'tim', 'tom']

for i in list_person:
    print (f"Hello {i}")

Hello alex
Hello tim
Hello tom

In [15]:
person_street_name = "some street"
person_state = "some state"
person_address = f"{person_street_name}, {person_state}"

In [16]:
print(person_address)

some street, some state

In [20]:
x = 3.14159
print(f"{x:.2f}")

3.14

In [23]:
x = 3.14159
print(f"{+x:.0f}")

3

In [24]:
### Type Conversion
x = 5
print(type(x))

<class 'int'>

In [25]:
y = str(x)

In [26]:
type(y)

str

In [27]:
x = "somestring"
int(x)

ValueError: invalid literal for int() with base 10: 'somestring'

In [28]:
int(5.99)

5

In [29]:
float(5)

5.0

In [30]:
x,y = 5,2
z = y/x

In [31]:
type(z)

float

In [32]:
##List 
x = [1,'hello',5.77]

In [33]:
print(x)

[1, 'hello', 5.77]

In [35]:
x = (1,2,3)
type(x)

tuple

In [36]:
x = list(x)
type(x)

list

In [37]:
x = tuple(x)
type(x)

tuple

In [40]:
x = list(x)
x

[1, 2, 3]

In [41]:
x = [66,33,45]
x[1]

33

In [42]:
x[0]

66

In [43]:
x[-1]

45

In [44]:
x[-2]

33

In [45]:
x[-3]

66

In [46]:
x[-4]

IndexError: list index out of range

In [47]:
x

[66, 33, 45]

In [48]:
x[1] = 44
x

[66, 44, 45]

In [50]:
x.append("hello")

In [51]:
x

[66, 44, 45, 'hello']

In [56]:
len(x)

4

In [57]:
fruits = ['manago','apple','berry']

In [58]:
fruits.pop()

'berry'

In [60]:
fruits.reverse()

In [61]:
fruits

['apple', 'manago']

In [62]:
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [63]:
fruits.clear()

In [64]:
fruits

[]

In [67]:
persons = ['cathy','don','alex','bob']

In [72]:
sorted_person = sorted(persons)
sorted_person
persons

['cathy', 'don', 'alex', 'bob']

In [73]:
persons.sort()

In [74]:
persons

['alex', 'bob', 'cathy', 'don']

In [76]:
#List Slicing   
persons[start:stop:increment]

['bob', 'cathy', 'don']

In [78]:
persons[1::2]

['bob', 'don']

In [81]:
x = [1,2,3,4,5,6,7]
x[1:3] = [8,9,10]

In [82]:
x

[1, 8, 9, 10, 4, 5, 6, 7]

In [83]:
x.remove(9)
x

[1, 8, 10, 4, 5, 6, 7]

In [84]:
del x[2]

In [86]:
x.insert(2,55)
x

[1, 8, 55, 4, 5, 6, 7]