### Strings

In [5]:
s = "Hello World"
s1 = 'Hello World'
s2 = '''Hello world'''
s3 = """ hello world """

In [8]:
print(type(s))
print(type(s1))
print(type(s2))
print(type(s3))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
len(s)

11

In [4]:
s[0]

'H'

In [9]:
type(s[0])

str

In [10]:
s[0:6]

'Hello '

In [14]:
print(s)
print(s[::-1])

Hello World
dlroW olleH

In [18]:
print(list(reversed(s)))

['d', 'l', 'r', 'o', 'W', ' ', 'o', 'l', 'l', 'e', 'H']

In [21]:
s[:len(s)]

'Hello World'

#### String are immutability

In [23]:
s[0]

'H'

In [24]:
s[0] = 'I'

TypeError: 'str' object does not support item assignment

In [26]:
s_list = list(s)
s_list

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [27]:
s_list[0]="I"

In [28]:
"".join(s_list)

'Iello World'

In [32]:
if s.endswith('d'):
    print(s.upper())

HELLO WORLD

In [31]:
s

'Hello World'

In [33]:
s.isdecimal()

False

In [46]:
i = '9.23'

In [47]:
i.isdecimal()

False

In [48]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [51]:
t = "     "
t.isspace()

True

In [52]:
s

'Hello World'

In [53]:
s.split()

['Hello', 'World']

In [55]:
s1 = "hello*world"
s1.split("*")

['hello', 'world']

In [57]:
s2= s1.replace("*",",")

'hello,world'

In [59]:
s2.split()

['Hello', 'world']

In [60]:
s2 = 'hello'
s1 = 'hello world'
 
if s2 in s1:
    print("true")

true

In [61]:
s1 in s2

False

In [62]:
s1 == s2

False

In [63]:
s3 = 'hello'
s3 == s2

True

In [64]:
s3.capitalize()

'Hello'

In [65]:
s3.title()

'Hello'

In [67]:
s3 = "hello world"
s3.splitlines()

['hello world']

In [68]:
## \n - escape character new line
s4 = "hello\nworld"
s4.splitlines()

['hello', 'world']

In [69]:
s5 = "  wislon aven   "
s5.strip()

'wislon aven'

In [71]:
print(s5.lstrip())
print(s5.rstrip())

wislon aven
  wislon aven

In [72]:
for c in s:
    print(c.upper())

H
E
L
L
O

W
O
R
L
D

In [78]:
for idx in range(len(s)-1):
    print(s[idx].upper())

H
E
L
L
O

W
O
R
L

In [73]:
range(10)

range(0, 10)

In [79]:
s.find("l")

2

In [80]:
s

'Hello World'

In [81]:
s1 = "hello"
s2 = "WORLD"
s1.join(s2)

'WhelloOhelloRhelloLhelloD'

In [82]:
s1+s2

'helloWORLD'

In [91]:
list1 = ['hello','world','python']

",".join(list1)

'hello,world,python'

In [88]:
s1

'hello'

In [89]:
s2

'WORLD'

In [92]:
message = "hello"
print(f"I'm printing {message}")

I'm printing hello

In [94]:
message = " Hello {}, I'm printing from {} in {}"
print(message.format("python","world","jupyter"))

 Hello python, I'm printing from world in jupyter

In [96]:
message = "{1} {0}"
message.format("world","hello")

'hello world'

In [106]:

### Functions - first class object

def do_something(name, message):
    msg = f"Hello {name}, {message}"
    print(msg)
    return msg + " from return statement"
print(do_something)
do_something("Alex","Welcome")

<function do_something at 0x116b6b6a0>
Hello Alex, Welcome

'Hello Alex, Welcome from return statement'