In [1]:
## Tuples
x_tuple = ("USA", "France", "Russia")
x_list = ["usa","france","russia"]

In [3]:
print(type(x_tuple))
print(type(x_list))

<class 'tuple'>
<class 'list'>

In [5]:
len(x_tuple)

3

In [6]:
len(x_tuple)

3

In [7]:
x_1 = tuple(x_list)
x_1

('usa', 'france', 'russia')

In [8]:
x_1[0]

'usa'

In [9]:
x_list[0] = 'india'

In [10]:
x_list

['india', 'france', 'russia']

In [11]:
x_1

('usa', 'france', 'russia')

In [12]:
x_1[0] = 'india'

TypeError: 'tuple' object does not support item assignment

In [14]:
for i in x_1:
    print(i)

usa
france
russia

In [15]:
if 'usa' in x_1:
    print("yes")

yes

In [30]:
def return_something():
    t = ('usa','dollor','nam','west')
    return t

In [33]:
return_something

In [27]:
j = ('usa','dollor','nam','west')

In [34]:
country, currency, region , zone = return_something()

In [24]:
country

'usa'

In [36]:
def calcuate_area_perimeter(s):
    area = s*s 
    perimeter = 4*s
    return (area,perimeter)

In [37]:
s= 4 
area, perimeter = calcuate_area_perimeter(s)
print(area)
print(perimeter)

16
16

## Dictionaries
## {key:value}

list_customer = [['name','address'],[name2,adrres],3,4......['John','address']]

for i in list_customer:
    i[0][0] == 'John'

customer_dict = {'john' : 'address' ,"alex" : "address-2"}

address_for_john = customer_dict["john"] --> O(1)

In [39]:
fruit_cost = {"apple": 4.99 , "bananas" : 1.99 , "pears": 2.99}

type(fruit_cost)

dict

In [41]:
empty_dict = dict()  ## {}
print(empty_dict)
empty_dict["john"] = '7888787'
print(empty_dict)

{}
{'john': '7888787'}

In [47]:
keys = fruit_cost.keys()
print(keys)

dict_keys(['apple', 'bananas', 'pears'])

In [43]:
fruit_cost.values()

dict_values([4.99, 1.99, 2.99])

In [54]:
print(fruit_cost)

for k,v in fruit_cost.items():
    v = v*2
    fruit_cost[k] = v

fruit_cost['oranges'] = 9.99

print(fruit_cost)

{'apple': 19.96, 'bananas': 7.96, 'pears': 11.96}
{'apple': 39.92, 'bananas': 15.92, 'pears': 23.92, 'oranges': 9.99}

In [55]:
del fruit_cost["oranges"]
print(fruit_cost)

{'apple': 39.92, 'bananas': 15.92, 'pears': 23.92}

In [58]:
fruit_cost.popitem()

('pears', 23.92)

In [59]:
print(fruit_cost)

{'apple': 39.92, 'bananas': 15.92}

In [67]:
if 'apple' in fruit_cost:
    print("Yes")

Yes

In [64]:
fruit_cost

{'apple': 39.92, 'bananas': 15.92}

In [68]:
## Sets 
s1 = {"apples", "apples", "mangoes", "mangoes", "cherries", "helo", 1, 2 , 3.99}

In [72]:
list1 = ["m","m", "n"]
remove_dup = list(set(list1))
remove_dup

['n', 'm']

In [74]:
s3 = {1,2,3,4}
s4 = {3,4,5,6}
s3.union(s4)

{1, 2, 3, 4, 5, 6}

In [75]:
s3.intersection(s4)

{3, 4}

In [76]:
## OOPS
### SOLID priciniple

class removeDuplicate():

SyntaxError: expected ':' (4281157690.py, line 4)